<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="AwsAccessKeyId" value="AKIA554JUFFVH4OWVT77"/>
		<add key="AwsSecretAccessKey" value="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"/>
	</appSettings>
</configuration>